@import '../../styles/colors';

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $bg-paper;
    padding: 0.5rem 2rem;
}

.logoContainer {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 22px;
    font-weight: bolder;
    cursor: pointer;

    p {
        color: $text-dark;
        text-decoration: none;


    }

    &:link,
    &:visited,
    &:hover,
    &:active {
        text-decoration: none;
        color: inherit;
    }
}



.right {
    display: flex;
    align-items: center;
    gap: 10px;

    .iconBtn {
        border-radius: 5px;
        height: 30px;
        border: 1px solid $primary;
    }

    .signinBtn {
        height: 40px;
        text-transform: none;
    }
}