@import "../../styles/colors.scss";

.giftsContainer {
    background-color: $bg-main;
    padding: 1rem;
    border-radius: 8px !important;
}

.tabsWrapper {
    background-color: $bg-paper;
    border-radius: 6px;
    padding: 4px;
    margin-bottom: 1rem;
}

.tabs {
    min-height: 32px;

}

.tab {
    text-transform: none !important;
    font-size: 0.85rem;
    font-weight: 500;
    color: $text-dark;
    border-radius: 4px !important;
    padding: 4px 12px !important;
    min-height: 28px;


    &:hover {
        background-color: lighten($primary, 40%);
    }
}

.activeTab {
    background-color: $primary !important;
    color: $bg-main !important;
    font-weight: 600;
}