@import "../../styles/colors.scss";

.cartContainer {
    background-color: $bg-main;
    padding: 2rem;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.itemCard {
    background-color: $bg-paper;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.itemContainer {
    height: 50vh;
    overflow-y: auto;
}

.itemLeft {
    display: flex;
    align-items: center;
    gap: 20px
}

.noItemMessage {
    text-align: center;
    display: flex;
    width: 100%;
    height: 50vh;
    justify-content: center;
    align-items: center;
    color: $primary;
    gap: 5px;
}

.itemImg {
    width: 100px;
    height: 100px;
    border-radius: 12px;
}

.itemInfo {
    display: flex;
    flex-direction: column;
}

.itemName {
    font-weight: 600;
    color: $text-dark;
}

.itemPrice {
    color: $primary;
    font-weight: 500;
}

.quantityControls {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    button {
        background-color: $primary !important;
        color: white !important;
        min-width: 32px !important;
        height: 32px !important;
        padding: 0 !important;
        border-radius: 6px !important;
    }
}

.totalSection {
    margin-top: auto;
    background-color: $bg-paper;
    padding: 1rem;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    color: $text-dark;
}

.actions {
    display: flex;
    gap: 1rem;

    button {
        flex: 1;
        padding: 0.75rem;
        font-weight: 600;
    }

    .checkoutBtn {
        background-color: $primary !important;
        color: white !important;
    }

    .giftBtn {
        background-color: $secondary !important;
        color: white !important;
    }
}