@import '../../styles/colors.scss';

.loginWrapper {
  min-height: 100vh;
  background-color: $bg-main;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.loginCard {
  background-color: $bg-paper;
  padding: 40px 30px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(153, 77, 128, 0.2);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  color: $primary;
  margin-bottom: 12px;
}

.subtitle {
  color: $text-dark;
  margin-bottom: 30px;
  font-size: 1rem;
}

.inputGroup {
  margin-bottom: 20px;
  text-align: left;
}

.inputLabel {
  display: block;
  margin-bottom: 6px;
  color: $text-dark;
  font-weight: 600;
  font-size: 0.9rem;
}

.inputField {
  width: 100%;
  padding: 10px 14px;
  border: 2px solid $primary;
  border-radius: 8px;
  font-size: 1rem;
  outline: none;
  color: $text-dark;
  background-color: white;
  transition: border-color 0.3s ease;
}

.inputField:focus {
  border-color: $secondary;
}

.loginButton {
  width: 100%;
  padding: 12px 0;
  background: linear-gradient(90deg, $primary, $secondary);
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: 700;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.loginButton:hover {
  background: linear-gradient(90deg, $secondary, $primary);
}

.alreadyAccount {
  margin-top: 16px;
  font-size: 0.9rem;
  color: $primary;

  span {
    font-weight: bold;
    cursor: pointer;
  }

}

.errorMsg {
  color: #d32f2f;
  font-size: 0.85rem;
  margin-top: 4px;
  font-weight: 600;
}