@import '../../styles/colors';


.searchContainer{
    display: flex;
    justify-content: center;
    width: 100%;
}
.searchBar {
    background-color: $bg-paper;
    color: $primary;
    border: none !important;
    padding: 10px !important;
    border-radius: 10px !important;
    width : 50% !important
}

.prodContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}